.displaymenu_bottom {
    position: fixed !important;
    width: 530px;
    height: 600px;
    background-color: gray !important;
    bottom: 50px;
    -webkit-transition: height 0.5s;
}

.displaymenu_title {
    width: 90%;
    margin-left: 5%;
    height: 30px;
    text-align: center;
    background-color: white;
    margin-top: 15px;
    color: black;
    font-size: 24px;
}

.displaymenu_close_bar {
    width: 97.5%;
    margin-left: 1.25%;
    height: 20px;
    margin-top: 5px;
}

.displaymenu_list_container {
    width: 90%;
    background-color: white !important;
    height: 82%;
    margin-left: 5%;
    margin-top: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.displaymenu_list_checkbox {
    float: right !important;
}

.displaymenu_list_item {
    font-size: 25px !important;
    width: 90%;
    margin-left: 5%;
    margin-top: 2px;
}

.displaymenu_list_checkbox
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    margin-right: 15px !important;
    margin-top: 15px !important;
}

.display_Land {
    left: 4.5%;
}

.display_City {
    left: 16%;
}

.display_Terrain {
    left: 27%;
}

.display_Other {
    left: 38%;
}

.hidden {
    height: 0 !important;
    color: rgba(0,0,0,0);
}

.displaymenu_list_breaker {
    width: 90%;
    margin-left: 5%;
    height: 5px;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button_display_inner {
    width: 90%;
    margin-top: 15px;
    margin-left: 5%;
    height: 30px;
    text-align: center;
    font-size: 22px;
    border: solid 3px gray;
    background-color: darkgray;
    color: black;
    -webkit-transition: 0.4s;
}

.button_display_inner:hover {
    font-size: 30px;
    height: 35px;
    width: 92%;
    margin-left: 4%;
    background-color: lightgray;
}

.display_inner_title {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.displaymenu_closebar_x {
    text-align: right;
    width: 5%;
    min-width: 20px;
    float: right;
    margin-right: 5px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.displaymenu_close_checkbox {
    color: white;
}